{
 "arrowParens": "always",
 "bracketSpacing": true,
 "jsxBracketSameLine": false,
 "jsxSingleQuote": false,
 "quoteProps": "as-needed",
 "singleQuote": false,
 "semi": true,
 "printWidth": 160,
 "useTabs": false,
 "indentWidth": 4,
 "tabWidth": 2,
 "trailingComma": "es5"
}
