<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347982419209-rnab57dn0nqqqt6tsdr6oqar0svehrls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347982419209-rnab57dn0nqqqt6tsdr6oqar0svehrls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347982419209-vio2lv8juvj8khb0a60nvgvuuat09fio.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlps_AlCIiILCQwFmoOe8sv52vnQ3gsRM</string>
	<key>GCM_SENDER_ID</key>
	<string>347982419209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.florian.erwerth.planbuddy</string>
	<key>PROJECT_ID</key>
	<string>events-with-friends-9e33b</string>
	<key>STORAGE_BUCKET</key>
	<string>events-with-friends-9e33b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347982419209:ios:ddc7644344db002f4b2fd8</string>
	<key>DATABASE_URL</key>
	<string>https://events-with-friends-9e33b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>